.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    .shuffle,
    .previous,
    .next,
    .state,
    .repeat {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__icon {
        fill: #b3b3b3;
        transition: .2s ease-in-out;

        &:hover {
            fill: white;
        }
    }

    .state {
        svg {
            color: white;
        }
    }

    .previous,
    .next,
    .state {
        font-size: 32px;
    }
}