.wrapper {
    background-color: #000;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top__links {
        display: flex;
        flex-direction: column;

        .logo {
            text-align: center;
            margin-top: 24px;

            img {
                max-inline-size: 70%;
                block-size: auto;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 12px;

            li {
                display: flex;
                gap: 12px;
                cursor: pointer;
                font-size: 18px;
                transition: .3s ease-in-out;

                &:hover {
                    color: white;
                }
            }
        }
    }
}