.wrapper {
    background-color: #000;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top__links {
        display: flex;
        flex-direction: column;
        background-color: #121212;
        border-radius: 12px;
        margin: 10px;

        .logo {
            text-align: center;
            margin-top: 24px;

            img {
                max-inline-size: 70%;
                block-size: auto;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding: 20px 20px 10px 20px;

            li {
                display: flex;
                align-items: center;
                gap: 12px;
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                transition: .3s ease-in-out;

                .sidebar__icon {
                    width: 27px;
                    height: 27px;
                    fill: white;
                }

                &:hover {
                    color: white;
                }
            }
        }
    }
}